.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    box-sizing: border-box;

    font-size: 2.5vmin;
}

.navbar-items-container {
    display: flex;
    text-align: center;

    margin-top: auto;
}

.navbar-item {
    font-family: 'Raleway';
    transition: text-decoration-color .5s;

    font-size: 2vmin;

    padding-right: 5vmin;
    padding-left: 5vmin;
}

.navbar-item:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 1);
}

.navbar-item h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}